<div class="admin-users-page__header">
  <p>Админы</p>
  <button (click)="onAddAdminBtn()">Добавить админа</button>
</div>

<div class="admin-users-page__content">
  <div class="admin-users-page__table-wrapper">
    <div *ngIf="loading" class="loading">Загрузка...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <app-table
      *ngIf="admins.length > 0 && !loading"
      [columnHeaders]="['ID', 'Логин', 'Активен', 'Дата рождения', 'Дата создания']"
      [data]="admins"
      (rowClick)="onAdminSelect($event)">
    </app-table>
    <div *ngIf="admins.length === 0 && !loading" class="empty">Администраторы не найдены</div>
  </div>

  <aside class="admin-users-page__aside">
    <app-add-admin-form 
      *ngIf="asideIndex == 1" 
      (adminCreated)="onAdminCreated($event)">
    </app-add-admin-form>
    <app-edit-admin
      *ngIf="asideIndex == 2"
      [selectedAdmin]="selectedAdmin"
      (adminUpdated)="onAdminUpdated($event)">
    </app-edit-admin>
  </aside>
</div>
